KERNEL=="tty*", SUBSYSTEM=="tty", ATTRS{idVendor}=="1209", ATTRS{idProduct}=="c550", MODE="0666", SYMLINK+="osrbot_led_matrix", GROUP="dialout"

KERNEL=="tty*", SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1209", ATTRS{idProduct}=="4001", ATTRS{serial}=="OSRDISPV01", MODE:="0666", GROUP:="dialout", SYMLINK+="osrbot_led_matrix"
